<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @link.post %>
</p>

<p>
  <strong>Title:</strong>
  <%= @link.title %>
</p>

<p>
  <strong>Belong to:</strong>
  <%= @link.belong_to %>
</p>

<p>
  <strong>:</strong>
  <%= @link. %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
